header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: 0.4s forwards 1.8s opening ;
    margin-top: 50px;
    a{
        line-height: .03125em;
        vertical-align: -.1875em;
        height: 0;
        width: 0;
    }
    i{
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: #FF6A41;
        }
    }
    .links{
        display: flex;
        gap: 50px;
    }
    
}

@keyframes opening {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width:980px) {
    header{
        margin-bottom: 10px;
    }
}